@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@400;700&family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(247, 246, 246);
}
:root{
  --primarycolor: purple;
  --Softcolor: pink;
  --whitecolor: white;
  --blackcolor: black;
}
.glad{
  font-size: 40px;
  font-family: 'Mulish';
  text-align: center;
  color: #000000;
  margin-left: 40px;
  margin: 40px;
  padding: 40px;
}

.header{
  background-color: #000000;
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    align-items: center;
    max-height: 450px;
    color: var(--whitecolor);
    height: 180px;
    overflow: hidden;
  }

  .sobre{
    font-size: 20px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }

.btn-a a{
    padding-left: 300px;
    background-color: rgb(162, 62, 255);
    display: flex;
    border-radius: 40px;
    padding-left: 3%;
    margin-left: 180px;
    width: 400px;
    height: 80px;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    transition: 1s;
}

  .imgheader img{
    border-radius: 100px;
    margin-right: 1700px;
    margin-top: -90px;
    height: 130px;
    margin-left: 3300px;
    width: 130px;
  }
  .header-title{
    margin-right: 900px;
    font-size: 40px;
    letter-spacing: 1.0;
    color: #8c52ff;
    position: absolute;
    margin-top: 50px;
  }

  .header-desc{
    margin-right: 900px;
    font-size: 20px;
    letter-spacing: 1.5;
    color: white;
    
  }

  nav a{
  color: #000000;
  text-decoration: none;
  padding: 0px 50px 10px 0;
  font-size: 13pt;
  position: relative;
  }

  nav a::after{
  content: " ";
  width: 0%;
  height: 3px;
  background-color: var(--primarycolor);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.8s ease-in-out;
  }

  nav a:hover::after{
  width: 70%;
  color: var(--primarycolor);
  }

  nav{
    text-align: center;
    margin-left: 32%;
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
.lados{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}
.partetexto{
    margin-right: 15%;
    margin-left: 10%;
}
.partetexto h1{
    font-size: 70px;
}
.partetexto p{
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.parteimagem{
    padding-top: 50px;
    height: 600px;
    overflow: hidden;
    transition: 1s;
    padding-right: 20%;
    padding-left: 4%;
}
.parteimagem img{
    transition: 0.5s;
}

.qtextos{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    flex-direction: row;
    display: flex;
    margin-bottom: 10%;
}
.qtextos h1{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.textp{
    font-weight: 700;
    color: white;
    background-color: rgb(53, 119, 194);
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    margin-right: 2%;
}
.texts{
    font-weight: 700;
    color: white;
    background-color: rgb(53, 119, 194);
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    margin-right: 2%;
}
.textt{
    font-weight: 700;
    color: white;
    background-color: rgb(53, 119, 194);
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    margin-right: 2%;
}
.textq{
    font-weight: 700;
    color: white;
    background-color: rgb(53, 119, 194);
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
}
.imagemdouglas {
    display: flex;
    justify-content: center;
}
.imagemdouglas img{
    width: 200px;
    border-radius: 100%;
}

.victor{
  display: flex;
  height: 550px;
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
}
.sobrevic{
  flex: 40%;
  border-left: 2px solid black;
  padding-left: 20px;
}
.sobrevic h1{
  margin-top: 20%;
}
.sobrevic p{
  margin-top: 20px;
}
.sobrevic img{
  margin-top: 20px;
  height: 100px;
  padding-left: 8px;
}
.imgvic{
  flex: 40%;
}
.footer{
    background-color: black;
    padding: 70px 0;
    
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #7c00b6;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #dadada;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  @media(max-widht: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-widht: 574px){
    .footer-col{
      width: 100%;
      
    }
  }
  
  .hh{
    list-style: none;
  }
  .caixa{
    max-width: 1270px;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .btn-icon{
    position: absolute;
    top: 20%;
    left: 50%;
  }
  .btn-icon i{
    font-size: 70px;
    transition: 0.3s;
  }
  .btn-icon i:hover{
    color: #7c00b6;
    transition: 0.3s;
  }

  .menu-hidden{
    visibility: hidden;
    position: fixed;
    height: 1000px;
    width: 100%;
    background-color: rgba(87, 87, 87, 0.582);
  }
  .menu-hidden.abrir{
    visibility: visible;
  }

  .menu-hidden .btn-icon2{
    position: fixed;
    left: 50%;
    top: 75%;
  }

  .menu-hidden .btn-icon2 i{
    transition: 0.3s;
    font-size: 60px;
    color: white;
  }
  .menu-hidden .btn-icon2 i:hover{
    color: rgb(155, 9, 252);
    transition: 0.3s;
  }
  